<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--乐业吧-->
    <add name="leyebaUrl" connectionString="http://leyeba.net"/>
    <!--自动升级-->
    <add name="updateUrl" connectionString="https://api.leyeba.net/0.1/update"/>
    <!--注册-->
    <add name="regUrl" connectionString="http://leyeba.net/signup.html"/>
    <!--反馈-->
    <add name="feedbackUrl" connectionString="http://leyeba.net/webgrowth.html"/>
    <!--找回密码-->
    <add name="forgotPwdUrl" connectionString="http://leyeba.net/reset.html"/>
    <!--登陆-->
    <add name="loginUrl" connectionString="https://api.leyeba.net/0.1/auth"/>
    <!--注销-->
    <add name="logoffUrl" connectionString="https://api.leyeba.net/0.1/logoff"/>
    <!--获取消息更新-->
    <add name="updateMsgUrl" connectionString="https://api.leyeba.net/0.1/message/update"/>
     <!--删除消息-->
    <add name="delMsgUrl" connectionString="https://api.leyeba.net/0.1/message/delete"/>
    <!--消息加星-->
    <add name="starMsgUrl" connectionString="https://api.leyeba.net/0.1/message/star"/>
    <!--查询项目-->
    <add name="queryProjUrl" connectionString="https://api.leyeba.net/0.1/project/list/query"/>
    <!--查询日志-->
    <add name="queryLogUrl" connectionString="https://api.leyeba.net/0.1/dev/logs/query"/>
    <!--添加日志-->
    <add name="addLogUrl" connectionString="https://api.leyeba.net/0.1/dev/logs/add"/>
    <!--删除日志-->
    <add name="delLogUrl" connectionString="https://api.leyeba.net/0.1/dev/logs/delete"/>
    <!--修改日志-->
    <add name="modifyLogUrl" connectionString="https://api.leyeba.net/0.1/dev/logs/modify"/>
    <!--增加系统填写开发日志-->
    <add name="autoLogsUrl" connectionString="https://api.leyeba.net/0.1/dev/autologs/add"/>
    <!--上传截屏-->
    <add name="uploadScreenUrl" connectionString="https://api.leyeba.net/0.1/screenshot/upload"/>
  </connectionStrings>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
</configuration>
